<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>PhoneClaw</string>
	<key>CFBundleDisplayName</key>
	<string>PhoneClaw</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>PhoneClaw 需要创建日历事项</string>
	<key>NSCalendarsUsageDescription</key>
	<string>PhoneClaw 需要访问日历以创建事项</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>PhoneClaw 需要创建提醒事项</string>
	<key>NSRemindersUsageDescription</key>
	<string>PhoneClaw 需要访问提醒事项</string>
	<key>NSContactsUsageDescription</key>
	<string>PhoneClaw 需要存储联系人信息</string>
</dict>
</plist>
